<a href="https://colab.research.google.com/github/brian572xd/ExamenP1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Examen parcial 1

Problema práctico de cálculo de RMSE: Se te dan los valores observados y predichos de una variable numérica para 4 observaciones: observados = [3, 7, 5, 10], predichos = [2, 8, 4, 9]. Calcula el RMSE

Respuesta

primero se resta cada valor observado a cada valor predicho, se eleva al cuadrado y se calcula el promedio para el ultimo paso que es sacar su raiz cuadrada

In [1]:
import numpy as np

observados = np.array([3, 7, 5, 10])
predichos = np.array([2, 8, 4, 9])

resta = observados - predichos

resta

array([ 1, -1,  1,  1])

In [2]:
errores = np.array([1, -1, 1, 1])
cuadrados = errores ** 2

cuadrados = np.square(errores)

cuadrados

array([1, 1, 1, 1])

dividimos entre 4 y sacamos su raiz cuadrada pero al ser todos 1 el resultado sera 1

Problema de probabilidad condicional
En una fábrica se producen piezas mediante dos máquinas, A y B.

La máquina A produce el 60% del total de las piezas.
La máquina B produce el 40% restante.
Sin embargo, no son igual de precisas:

La máquina A produce 2% de piezas defectuosas.
La máquina B produce 5% de piezas defectuosas.
Un inspector toma una pieza al azar del inventario general y encuentra que la pieza está defectuosa.

Pregunta:

¿Cuál es la probabilidad de que la pieza haya sido fabricada por la máquina B?

$P(A) = 0.60$ (Probabilidad de que sea de la máquina A)   
$P(B) = 0.40$ (Probabilidad de que sea de la máquina B)   
$P(D|A) = 0.02$ (Probabilidad de defecto dado que es de A)   
$P(D|B) = 0.05$ (Probabilidad de defecto dado que es de B)

$$P(D) = (0.60 \cdot 0.02) + (0.40 \cdot 0.05)$$   
$$P(D) = 0.012 + 0.020 = \mathbf{0.032}$$

Ahora calculamos la probabilidad de que, dado que ya sabemos que la pieza es defectuosa ($D$), esta provenga de la máquina B:


$$P(B|D) = \frac{P(B) \cdot P(D|B)}{P(D)}$$Sustituimos los valores:

$$P(B|D) = \frac{0.40 \cdot 0.05}{0.032}$$   
$$P(B|D) = \frac{0.020}{0.032}$$   
$$P(B|D) = 0.625$$

Acontinuación se te presenta una simulación de un caso en el que se pretende determinar si el consumo de café por los estudiantes ayuda a estudiar.

Imagina que seleccionas a 20 estudiantes al azar. A 10 les das café y a otros 10 les das agua, luegos les pides que resuelvan un examen de lógica.

In [3]:
import pandas as pd
import numpy as np


# Establece una semilla para reproducibilidad
np.random.seed(42)


# 1. Crea una lista de matrículas de estudiantes
student_ids = [f'{i:06d}' for i in range(172120, 172120 + 20)]


# 2. Asigna 10 estudiantes al grupo 'Café' y 10 al grupo 'Agua'
groups = ['Café'] * 10 + ['Agua'] * 10
np.random.shuffle(groups)


# 3. Simula calificacionen de examenes para el grupo café
# Mean=70, Std=5, asegurate de que los valores estén entre (50-100)
coffee_scores = np.random.normal(loc=70, scale=5, size=10).round(0)
coffee_scores = np.clip(coffee_scores, 50, 100).astype(int)


# 4. Simula calificaciones de examen para el grupo de 'Agua'
# Mean=75, Std=5, asegurate de que los valores estén entre (50-100)
water_scores = np.random.normal(loc=75, scale=5, size=10).round(0)
water_scores = np.clip(water_scores, 50, 100).astype(int)


# Combina los valores basado en el grupo
exam_scores = []
coffee_idx = 0
water_idx = 0
for group in groups:
    if group == 'Café':
        exam_scores.append(coffee_scores[coffee_idx])
        coffee_idx += 1
    else:
        exam_scores.append(water_scores[water_idx])
        water_idx += 1


# 5. Combina en un DataFrame de Pandas
df_students = pd.DataFrame({
    'Matrícula': student_ids,
    'Grupo': groups,
    'Calificaciones': exam_scores
})


print("Datos simulados:")
print(df_students.head())

Datos simulados:
  Matrícula Grupo  Calificaciones
0    172120  Café              77
1    172121  Agua              77
2    172122  Agua              79
3    172123  Café              78
4    172124  Café              58

In [6]:
#media
comparativa = df_students.groupby('Grupo')['Calificaciones'].mean()
comparativa

Grupo
Agua    74.9
Café    70.6
Name: Calificaciones, dtype: float64

Tabla de contingencia de curso vs. examen

Calcula la probabilidad condicional de aprobar si se tomó el curso    
A = 45 personas

B = 50 personas

$$ 45/50= 0.9 $$

De la tabla de contingencia de la pregunta anterior calcula la probabilidad simple de aprobar

Total de personas que aprobaron: 65.

Total de personas en el estudio: 100.

$$ 65/100 = 0.65 $$